<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
	<sitecore>
		<events>
			<event name="item:added">
				<handler type="Sitecore.SharedModule.ReferenceUpdater.CMS.Events.AddFromTemplate, Sitecore.SharedModule.ReferenceUpdater.CMS" method="OnItemAdded" />
			</event>
		</events>

		<processors>
			<uiDuplicateItem>
				<processor mode="on" type="Sitecore.SharedModule.ReferenceUpdater.CMS.Processors.DuplicateItem, Sitecore.SharedModule.ReferenceUpdater.CMS" method="Execute" patch:instead="*[@type='Sitecore.Buckets.Pipelines.UI.ItemDuplicate, Sitecore.Buckets' and @method='Execute']" />
			</uiDuplicateItem>

			<uiCopyItems>
				<processor mode="on" type="Sitecore.SharedModule.ReferenceUpdater.CMS.Processors.CopyOrCloneItem, Sitecore.SharedModule.ReferenceUpdater.CMS" method="ProcessFieldValues" />
			</uiCopyItems>

			<uiCloneItems>
				<processor mode="on" type="Sitecore.SharedModule.ReferenceUpdater.CMS.Processors.CopyOrCloneItem, Sitecore.SharedModule.ReferenceUpdater.CMS" method="ProcessFieldValues" />
			</uiCloneItems>

		</processors>
	</sitecore>
</configuration>
