Sitecore.SharedModule.Updater/bin/
*.dll
Sitecore.SharedModule.ReferenceUpdater/bin/
Sitecore.SharedModule.ReferenceUpdater.Foundry/bin/
Website/bin/Website.dll.config
Sitecore.SharedModule.ReferenceUpdater.CMS/bin/
*.pdb
Website/bin/
